<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="stylesheet" href="/assets/css/navbar.css">
    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/logo.png" alt="Bookworm Logo"/>
            </a>
        </div>
        <ul class="nav-items">
            {% if user %}
                <a href="/catalogue">Catalogue</a>
                <a href="/forums">Forum</a>
            {% else %}
                <a href="/sign-in">Login</a>
                <a href="/sign-up">Register</a>
            {% endif %}
        </ul>
        <div class="profile">
            {% if  user %}
                <a href="/profile">
                    {% if user.profile_picture %}
                        <img src="{{ '/uploads/' ~ user.profile_picture }}" alt="Profile picture">
                    {% else %}
                        <img src="/assets/images/default.jpg" alt="Profile picture">
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>